
<div class="media">
  <img src="//avatars0.githubusercontent.com/u/102661?v=3&s=100" alt="Richard Dallaway" class="pull-left img-rounded">
  <div class="x-media-body">
    <b>Hello</b>. I'm Richard. I live in Brighton, UK. My background is ML and software consulting.
  </div>
</div>

<h3>
  Contact
</h3>

<ul>
  <li><a href="https://www.linkedin.com/in/richarddallaway/">LinkedIn</a>
  <li><a href="https://twitter.com/d6y">@d6y</a> on Twitter</li>
  <!-- <li><a rel="me" href="https://mastodon.social/@d6y">Follow @d6y</a> on Mastodon</li> -->
  <!--<li><a href="https://d6y.youcanbook.me/">Schedule a meeting</a></li>-->
</ul>

<h3>
  Elsewhere
</h3>

<ul>
  <li><a href="https://speakerdeck.com/d6y">Presentations</a></li>
  <li><a href="https://github.com/d6y">Code on GitHub</a></li>
  <li><a href="https://stackoverflow.com/users/story/154248?view=Timeline">Stackoverflow</a></li>
  <li><a href="https://www.goodreads.com/review/list/4761202-richard?shelf=currently-reading">Goodreads</a></li>
</ul>


<h3>
  Publications
</h3>

<ul>
  <li> <a href="https://shop.oreilly.com/product/0636920029151.do">Lift Cookbook</a>, O'Reilly , 2013.</li>
  <li> <a href="https://underscore.io/books/essential-slick/">Essential Slick</a>, Underscore, 2019.</li>
  <li> <a href="https://scholar.google.co.uk/citations?hl=en&user=jtH4v_sAAAAJ&view_op=list_works">Older Papers</a> and <a href="/pdf/">PDFs</a></li>
</ul>


