// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}


pre code {
  font-family: "PT Mono";
  font-size: small;
}

img.photo {
  display: inline;
  border-radius: 0;
}

blockquote {
  border-left: 2px solid #eeeeee;
  padding: 2px 27px;
}


/* Definitions as a <ul> */
ul.def-list {
  list-style-position: outside;
  padding: 0;
  margin: 1em;
  text-indent: -1em;
  list-style-type: none;
}

ul.def-list li {
  margin-bottom: 0.5em;
}
